*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: darksalmon;
    font-family: 'Montserrat', sans-serif;
}

.nav-links img{
    height: 3.5rem;
}

.nav-links{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    letter-spacing: 0.5rem;
}

.nav-links a{
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease-in;
}

.nav-links a:hover,
.nav-links a:focus {
    color: aliceblue;
    font-size: 0.9rem;
    text-decoration: underline;
}

.burger{
    display: none;
    cursor: pointer;
}

/*#toggle{
    display: none;
}

label{
    display: none;
}*/

.logo{
    display: none;
}

.burger div{
    background-color: #000000;
    height: 3px;
    width: 25px;
    margin: 5px;
}

@media screen and (max-width: 768px){    
    body{
        overflow-x: hidden;
    }
    
    nav{
        display: flex;
        align-items: center;
    }

    .logo{
        display: flex;
    }

    .logo img{
        height: 3.5rem;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: darksalmon;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transition: transform 5s ease-in;
        -webkit-transition: transform 5s ease-in;
    }

    .nav-links img{
        display: none;
    }

    .burger{
        display: block;
    }
    /*
    label{
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .nav-links{
        transform: translateX(0%);
        transition: all 0.5s ease-in;
    }
    */
}

.nav-active{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transition: transform 5s ease-in;
    -webkit-transition: transform 5s ease-in;
}